body {
    text-align: center;
    font-size: 7px;
}

.stationbill {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.col1 {
    display: flex;
    width: 50vw;
    height: 80vh;
    justify-content: end;
    text-align: center;
    flex-direction: column;
}

.col2 {
    display: flex;
    width: 50vw;
    flex-direction: column;
    justify-content: start;
}

.row0 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row1 table {
    width: 70%;
}

.row2 {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.row3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row3 table {
    width: 70%;
}

.a-row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.a-row1 table {
    width: 30%;
}

.a-row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.a-row3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.a-row3-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.subcol1 {
    display: flex;
    flex-direction: column;
    justify-content:start;
}

.subcol2 {
    display: flex;
    flex-direction: column;
    justify-content:start;
}

table {
    text-align: center;
}

.fire-major-title {
    width: 90%;
    font-size: 15px;
    color: red;
}

.abandon-major-title {
    width: 90%;
    font-size: 15px;
    color: green;
}

.function-title {
    background-color: #4795D1;
    height: 10px;
}

.function-table {
    width: 30%;
    height: 5vh;
}



.table-title {
    background-color: #E7B8B7;
}

.table-minor-title {
    background-color: #EEDDDC;
}

table {
    margin-bottom: 10px;
    border: 1px solid black;
}

.note-cell {
    border: 1px solid black;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.abandon-table-title {
    background-color: #C8D6A2;
}

.abandon-table-minor-title {
    background-color: #DAE4C0;
}